<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%5p [%t] %X{ojpad}\(%F:%L\) [%X{ojname}] - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${build.directory}/test-logs/oddjob.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-4relative %-5level [%thread] %X{ojpad}\(%F:%L\) [%X{ojname}] - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

  <logger name="org.oddjob.jmx" level="TRACE"/>
  <logger name="org.oddjob" level="DEBUG"/>
  <logger name="org.oddjob.arooa" level="INFO"/>
  <logger name="org.oddjob.schedules" level="INFO"/>
  
</configuration>